<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.manager.dao.TbReplyMapper" >
  <resultMap id="BaseResultMap" type="com.qf.manager.pojo.po.TbReply" >
    <id column="replyid" property="replyid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="replytime" property="replytime" jdbcType="TIMESTAMP" />
    <result column="replycontent" property="replycontent" jdbcType="VARCHAR" />
    <result column="eid" property="eid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    replyid, uid, replytime, replycontent, eid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qf.manager.pojo.po.TbReplyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_reply
    where replyid = #{replyid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_reply
    where replyid = #{replyid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.qf.manager.pojo.po.TbReplyExample" >
    delete from tb_reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qf.manager.pojo.po.TbReply" >
    insert into tb_reply (replyid, uid, replytime, 
      replycontent, eid)
    values (#{replyid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{replytime,jdbcType=TIMESTAMP}, 
      #{replycontent,jdbcType=VARCHAR}, #{eid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.manager.pojo.po.TbReply" >
    insert into tb_reply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="replyid != null" >
        replyid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="replytime != null" >
        replytime,
      </if>
      <if test="replycontent != null" >
        replycontent,
      </if>
      <if test="eid != null" >
        eid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="replyid != null" >
        #{replyid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="replytime != null" >
        #{replytime,jdbcType=TIMESTAMP},
      </if>
      <if test="replycontent != null" >
        #{replycontent,jdbcType=VARCHAR},
      </if>
      <if test="eid != null" >
        #{eid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qf.manager.pojo.po.TbReplyExample" resultType="java.lang.Integer" >
    select count(*) from tb_reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_reply
    <set >
      <if test="record.replyid != null" >
        replyid = #{record.replyid,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.replytime != null" >
        replytime = #{record.replytime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.replycontent != null" >
        replycontent = #{record.replycontent,jdbcType=VARCHAR},
      </if>
      <if test="record.eid != null" >
        eid = #{record.eid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_reply
    set replyid = #{record.replyid,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=INTEGER},
      replytime = #{record.replytime,jdbcType=TIMESTAMP},
      replycontent = #{record.replycontent,jdbcType=VARCHAR},
      eid = #{record.eid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.manager.pojo.po.TbReply" >
    update tb_reply
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="replytime != null" >
        replytime = #{replytime,jdbcType=TIMESTAMP},
      </if>
      <if test="replycontent != null" >
        replycontent = #{replycontent,jdbcType=VARCHAR},
      </if>
      <if test="eid != null" >
        eid = #{eid,jdbcType=INTEGER},
      </if>
    </set>
    where replyid = #{replyid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.manager.pojo.po.TbReply" >
    update tb_reply
    set uid = #{uid,jdbcType=INTEGER},
      replytime = #{replytime,jdbcType=TIMESTAMP},
      replycontent = #{replycontent,jdbcType=VARCHAR},
      eid = #{eid,jdbcType=INTEGER}
    where replyid = #{replyid,jdbcType=INTEGER}
  </update>
</mapper>